.header-background {
	background-image: url('/img/bondi.jpg');
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
}

footer {
	padding-top: 50px;
	padding-bottom: 10px;
	color: #CCC;
	text-align: center;
}

#profile {
	border-radius: 100%;
	max-width: 250px;
}

.site-header {
	color: #FFF;
}

.content-body {
	padding-top: 50px;
}

.published {
	color: #999;
	font-size: small;
}

.post-header {
	text-align: center;
}

.pagination.text-center {
	text-align: center;
	font-size: medium;
	padding-top: 20px;
}

body {
	font-size: 16px;
}

#disqus_thread {
	padding-top: 50px;
}

@media screen and (max-width: 480px) {
	.video-container {
		position:relative;
		padding-bottom:56.25%;
		padding-top:30px;
		height:0;
		overflow:hidden;
	}

	.video-container iframe, .video-container object, .video-container embed {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
}

.caption {
	padding-bottom: 50px;
    color: #999;
    font-style: italic;
    text-align: center;
}

.instagram-media {
	margin: auto !important;
}