<div class="header-background">
    <div class="ui container">
        <div class="ui center aligned one wide grid">
            <div class="row">
                <div class="ui column">
                    <img id="profile" src="/img/me.jpeg"/>
                    <h1 class="site-header">{{ site.title }}</h1>
                    <h2 class="site-header">{{ site.description }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="ui stackable menu">
                    <a class="item" href="/">Home</a>
                    <a class="item" href="/about/">About Me</a>
                    <a class="item" href="/">Blog</a>
                    <a class="item" target="_blank" href="//twitter.com/{{ site.twitter_username }}">Twitter</a>
                    <a class="item" target="_blank" href="//github.com/{{ site.github_username }}">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>